:root {
  --navy: #0b1f33;
  --navy-light: #12385c;
  --amber: #f4b400;
  --light-bg: #f5f7fa;
  --text-dark: #1f2933;
}

body {
  background-color: var(--light-bg);
  color: var(--text-dark);
}

.navbar {
  background-color: var(--navy) !important;
}

.navbar-brand {
  font-weight: bold;
  color: var(--amber) !important;
}

.nav-link {
  color: white !important;
  margin-left: 10px;
}

.nav-link:hover {
  color: var(--amber) !important;
}

.hero-section {
  background: linear-gradient(rgba(11, 31, 51, 0.85), rgba(11, 31, 51, 0.85));
  color: white;
  padding: 90px 0;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
}

.btn-amber {
  background-color: var(--amber);
  color: var(--navy);
  font-weight: bold;
  border: none;
}

.btn-amber:hover {
  background-color: #d99d00;
  color: white;
}

.section-title {
  color: var(--navy);
  font-weight: bold;
}

.smart-card {
  border: none;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.stat-number {
  color: var(--amber);
  font-size: 34px;
  font-weight: bold;
}

.footer {
  background-color: var(--navy);
  color: white;
}
.dashboard-slot {
  height: 95px;
  border-radius: 12px;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-slot:hover {
  transform: scale(1.03);
}

.slot-available {
  background-color: #d4edda;
  color: #155724;
}

.slot-occupied {
  background-color: #f8d7da;
  color: #721c24;
}

.slot-highlight {
  border: 3px solid var(--amber);
  box-shadow: 0 0 10px rgba(244, 180, 0, 0.9);
}

.progress-bar {
  background-color: var(--amber);
  color: var(--navy);
  font-weight: bold;
}